@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0d0d;
  --foreground: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Add these new styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Allow vertical scroll only if needed */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .grid-background {
    background: linear-gradient(45deg, #ffffff 25%, transparent 25%) -50px 0,
      linear-gradient(-45deg, #ffffff 25%, transparent 25%) -50px 0;
    background-size: 100px 100px;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideInTitle {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-in-title {
  animation: slideInTitle 1000ms ease-out;
}
